*{
  padding: 0;
  margin: 0;
}

:root{
  --gunmetal-gray: #4c5355;
  --honeysuckle: #c44b4f;
  --blue-gray: #607d86;
  --pewter: #cbcdcb;
  --fondo: #3844d;
}


main{
  width: 100%;
  height: 960px;
  background-color: var(--blue-gray);
  display: flex;
}

.banner{
  min-height: 50px;
  background: var(--gunmetal-gray);
}

.calculator{
  border: 2px solid var(--pewter);
  width: 60%;
  margin: 10px 0;
  /* height: 50%; */
  justify-content: space-around
}

.screen{
  border: 2px solid var(--pewter);
  width: 80%;
  height: 30%;
  margin: 10px;
}

.buttons-bar{
  list-style-type: none;
  border: 2px solid var(--pewter);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.button{
  border: 1px solid var(--pewter);
  border-radius: 10px;
  width: 45px;
  height: 45px;
  padding: 20px;
  margin: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;

}